<div class="wrapper" nz-row>
    <div nz-col [nzSpan]="24" *ngIf="showSelect">
        <label nz-checkbox [(ngModel)]="checkedFlag" (ngModelChange)="checkedChange($event)">
            <span>{{ checkedFlag ? "已选中" : "选择此人" }}</span>
        </label>
    </div>
    <div nz-col [nzSpan]="6">
        姓名:
    </div>
    <div nz-col [nzSpan]="18">
        <span *ngIf="!updateFlag">{{ student.name }}</span>
        <nz-input *ngIf="updateFlag" [(ngModel)]="studentCopy.name" [name]="studentCopy.name" [nzPlaceHolder]="'name'" [nzSize]="'normal'"></nz-input>
    </div>
    <div nz-col [nzSpan]="6">
        性别:
    </div>
    <div nz-col [nzSpan]="18">
        <span *ngIf="!updateFlag">{{ student.sex === 1 ? "男" : "女" }}</span>
        <nz-select *ngIf="updateFlag" class="set-block" [(ngModel)]="studentCopy.sex" [nzPlaceHolder]="'choose option'">
            <nz-option [nzLabel]="'男'" [nzValue]="1"></nz-option>
            <nz-option [nzLabel]="'女'" [nzValue]="2"></nz-option>
        </nz-select>
    </div>
    <div nz-col [nzSpan]="6">
        学号:
    </div>
    <div nz-col [nzSpan]="18">
        <span *ngIf="!updateFlag">{{ student.studentNumber }}</span>
        <nz-input *ngIf="updateFlag" [(ngModel)]="studentCopy.studentNumber" [name]="studentCopy.studentNumber" [nzPlaceHolder]="'studentNumber'" [nzSize]="'normal'"></nz-input>
    </div>
    <div nz-col [nzSpan]="6">
        班级：
    </div>
    <div nz-col [nzSpan]="18" *ngIf="studentService.gradeArray">
        <span *ngIf="!updateFlag">{{ currentGrade.gradeName }}{{ currentClass.className }}</span>
        <app-grade-select *ngIf="updateFlag" [gutterSize]="8" 
            [(selectGrade)]='gradeCopy' [(selectClass)]='classCopy'
            (changeEvent)="gradeChange($event)"></app-grade-select>
    </div>
    <div nz-col [nzSpan]="24">
        <div *ngIf="mode !== 'add'; else add">
            <button nz-button *ngIf="!updateFlag" (click)="updateFlag = true" [nzType]="'primary'" [nzSize]="'small'">修改</button>
            <button nz-button *ngIf="!updateFlag" (click)="delete()" [nzType]="'danger'" [nzSize]="'small'">删除</button>
            <button nz-button *ngIf="updateFlag" (click)="updateConfirmVisible = true" [nzType]="'primary'" [nzSize]="'small'">提交修改</button>
            <button nz-button *ngIf="updateFlag" (click)="cancleUpdate()" [nzType]="'default'" [nzSize]="'small'">取消修改</button>
        </div>
        <ng-template #add>
            <button nz-button (click)="addStudent()" [nzType]="'primary'" [nzSize]="'small'">添加单个</button>
            <button nz-button (click)="resetAddStudent()" [nzType]="'default'" [nzSize]="'small'">重置</button>
            <button nz-button (click)="deleteAddStudent()" [nzType]="'danger'" [nzSize]="'small'">删除此个添加</button>
        </ng-template>
    </div>

    <nz-modal 
        *ngIf="mode !== 'add'"
        [nzVisible]="updateConfirmVisible" 
        [nzTitle]="modalTitle" 
        [nzContent]="modalContent" 
        (nzOnCancel)="updateConfirmVisible = false" 
        (nzOnOk)="update($event)">
        <ng-template #modalTitle>
            <h4>确认修改</h4>
        </ng-template>
        <ng-template #modalContent>
            <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="8" [nzOffset]="2">
                    <ul>
                        <li><h4>原数据</h4></li>
                        <li><span>姓名</span> {{ student.name }}</li>
                        <li><span>性别</span> {{ student.sex === 1 ? "男" : "女" }}</li>
                        <li><span>学号</span> {{ student.studentNumber }}</li>
                        <li><span>班级</span> {{ currentGrade.gradeName }} {{ currentClass.className }} </li>
                    </ul>
                </div>
                <div class="center">
                    <i class="anticon anticon-arrow-right"></i>
                </div>
                <div nz-col [nzSpan]="8" [nzOffset]="4">
                    <ul>
                        <li><h4>修改后</h4></li>
                        <li><span>姓名</span> {{ studentCopy.name }}</li>
                        <li><span>性别</span> {{ studentCopy.sex === 1 ? "男" : "女" }}</li>
                        <li><span>学号</span> {{ studentCopy.studentNumber }}</li>
                        <li><span>班级</span> {{ gradeCopy.gradeName }} {{ classCopy.className }} </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </nz-modal>
</div>