@import '../../../../../assets/sass/_variable.scss';

.wrapper{
    padding: 15px 15px 10px;
    margin-bottom: 10px;
    border: 1px solid $border-color-gray;
    border-radius: 5px;
    >div{
        height: 28px;
        line-height: 28px;
        margin-bottom: 2px;
        margin-bottom: 5px;
    }
}


ul{
    width: 100px;
    display: block;
    margin: 0 auto;
    li{
        margin-bottom: 5px;
        span{
            display: inline-block;
            width: 30px;
        }
    }
}
