<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{title}}</h1>
  <nav>
    <a routerLink = "/heroes"  routerLinkActive="active">Heroes</a>
    <a routerLink = "/dashboard"  routerLinkActive="active">Dashboard</a>
    <a routerLink = "/property"  routerLinkActive="active">property</a>
    <a routerLink = "/life"  routerLinkActive="active">life</a>
    <a routerLink = "/communication"  routerLinkActive="active">communication</a>
    <a routerLink = "/dynamic"  routerLinkActive="active">dynamic</a>
    <a routerLink = "/attrDir"  routerLinkActive="active">attrDir</a>
    <a routerLink = "/struDir"  routerLinkActive="active">struDir</a>
    <a routerLink = "/pipe"  routerLinkActive="active">pipe</a>
    <a routerLink = "/animation"  routerLinkActive="active">animation</a>
    <a routerLink = "/userInput"  routerLinkActive="active">userInput</a>
    <a routerLink = "/forms"  routerLinkActive="active">forms</a>
    <a routerLink = "/formsvalidation"  routerLinkActive="active">formsvalidation</a>
    <a routerLink = "/reactiveform"  routerLinkActive="active">reactiveform</a>
    <a routerLink = "/dynamicform"  routerLinkActive="active">dynamicform</a>
    <a routerLink = "/mymodule"  routerLinkActive="active">mymodule</a>
    <a routerLink = "/provide"  routerLinkActive="active">provide</a>
    <a routerLink = "/hierarchicalInject"  routerLinkActive="active">hierarchicalInject</a>
    <a routerLink = "/parent"  routerLinkActive="active">parent</a>
    <a routerLink = "/http"  routerLinkActive="active">http</a>
    <a routerLink = "/heroCenter"  routerLinkActive="active">heroCenter</a>
    <a routerLink = "/myTest"  routerLinkActive="active">myTest</a>
  </nav>
  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>
</div>
