<div id="fomr-validation">
  <h1>From Validation</h1>
  <form #heroForm='ngForm'>
    <div
      *ngIf="hero"
      class="form-group">
      <input
        class="form-control"
        name = "name"
        type="text"
        required
        minlength="2"
        appForbiddenName="^bob$"
        [(ngModel)] = 'hero.name'
        #name = 'ngModel'>
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 2 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
          Name cannot be Bob.
        </div>
      </div>
    </div>
  </form>
  <hr>
  <form
    [formGroup]='heroForm2'
    #formDir='ngForm'>
    <div
      *ngIf="hero"
      class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        id="name"
        formControlName = "name"
        required>
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 2 characters long.
        </div>
        <div *ngIf="name.errors.forbiddenName">
          Name cannot be Bob.
        </div>
      </div>
    </div>
  </form>
</div>
