<div id="animation">
  <h1>Animation</h1>
  <button (click) = 'regetHeroes()'>regetHeroes</button>
  <hr>
  <div class="first">
    <ul>
      <li
        (click) = 'togglerState(hero)'
        [@heroState] = 'hero.state'
        *ngFor="let hero of heroes; trackBy:trackById">
        {{ hero.name }}
      </li>
    </ul>
  </div>
  <hr>
  <div class="second">
    <ul>
      <li
        [@heroState] = 'hero.state'
        (click) = 'togglerState(hero)'
        *ngFor="let hero of heroes; let index = index;trackBy:trackById">
        {{ hero.name }} <button (click) = 'delete(index)'>x</button>
      </li>
    </ul>
  </div>

</div>
