<div id="animationTwo">
  <div class="three">
    <ul>
      <li
        [@flyGroup] = "'in'"
        *ngFor="let hero of heroes;let index = index">
        {{ hero.name }} <button (click) = 'delete(index)'>x</button>
      </li>
    </ul>
  </div>
  <hr>
  <div class="seconde">
    <ul>
      <li
        [@flyKeyframes] = "'in'"
        *ngFor="let hero of heroes; let index = index">
        {{ hero.name }} <button (click) = 'delete(index)'>x</button>
      </li>
    </ul>
  </div>
  <hr>
  <div class="first">
    <ul>
      <li
        [@flyInOut] = "'in'"
        *ngFor="let hero of heroes;let index = index">
        {{ hero.name }} <button (click) = 'delete(index)'>x</button>
      </li>
    </ul>
  </div>
</div>
