@import './_color.scss';

.header{
    margin: 15px;
    ul{
        display: flex;
        li{
            list-style-type: none;
            min-width: 80px;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 8px;
            margin-bottom: 8px;
            a{
                color: $text-color;
                text-align: center;
                display: block;
                padding: 8px 10px;
                background: $bg-color;
                &:hover{
                    background: $bg-color-hover;
                    color: $text-color-active;
                    text-decoration: none;
                }
                &.active{
                    color: $text-color-active;
                }
            }
        }
    }
}
.detail{
    margin: 0 15px;
}

