<div class="student">
  <app-header [username]="'ace'" [userRole]="'游客'"></app-header>
  <div nz-row class="grade-wrapper" [nzGutter] ="20">
    <div nz-col [nzSpan]="12">
      <app-grade-select [gutterSize] = "20" [(selectGrade)] = 'selectGrade' [(selectClass)]='selectClass'></app-grade-select>
    </div>
    <div nz-col [nzSpan]="12">
      <button nz-button (click)="findStudnet()" [nzType]="'primary'" [nzSize]="'large'">查找</button>
      <button nz-button (click)="currentPageIndex = 1" [nzType]="'primary'" [nzSize]="'large'" [disabled]="!currentPath">获取所有学生</button>
    </div>
    <div nz-col [nzSpan]="24" *ngIf="currentPath">
      当前班级: <span> {{ currentPath }} </span>
    </div>
  </div>
  <div class="student-wrapper grade-wrapper" nz-row [nzGutter]="15" *ngIf="students && studentService.gradeArray">
    <app-student-wrapper nz-col [nzSpan]="8" *ngFor="let student of students" [student]="student"></app-student-wrapper>
    <nz-spin [nzTip]="'正在读取数据...'" [class.hidden]="!loadStudentFlag"></nz-spin>
  </div>
  <div class="grade-wrapper">
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <button nz-button (click)="addEmptyStudent()" [nzType]="'default'" [nzSize]="'large'">添加学生</button>
          <button nz-button 
            (click)="showAddStudentSelect()" [nzType]="'primary'" [nzSize]="'large'" 
            [disabled]="addStudentArray.length == 0" *ngIf="!addSelectVisible">选择批量添加学生</button>
          <button nz-button (click)="addStudent()" [nzType]="'primary'" [nzSize]="'large'" *ngIf="addSelectVisible">批量添加</button>
          <button nz-button (click)="hideAddStudentSelect()" [nzType]="'primary'" [nzSize]="'large'" *ngIf="addSelectVisible">关闭选择添加</button>
          
        </div>
        <div nz-col [nzSpan]="12"  *ngIf="!currentPath">
          <nz-pagination class="pull-right" [(nzPageIndex)]="currentPageIndex" [(nzTotal)]="studentCountNum" [(nzPageSize)]="pageSize"></nz-pagination>
        </div>
    </div>
  </div>
  <div class="grade-wrapper student-wrapper" nz-row [nzGutter]="15" *ngIf="addStudentArray.length !== 0">
    <app-student-wrapper 
      nz-col [nzSpan]="8"
      *ngFor="let student of addStudentArray; let i = index" 
      [student]="student" [mode]="'add'" [studentIndex] = "i" [showSelect] = "addSelectVisible"
      (deleteEvent)='deleteAddStudent($event)'
      (resetEvent)='resetAddStudent($event)'
      (selectEvent)='selectAddStudnet($event)'
      (addStudentEvent)='refreshStudent($event)'></app-student-wrapper>
  </div>
</div>