.grade-wrapper{
    width: 800px;
    padding: 5px 10px;
    >div{
        margin-bottom: 10px;
    }
}

.empty{
    padding: 0 10px;
    font-size: 22px;
    text-align: center;
}

button{
    height: 28px;
}

.student-wrapper{
    padding-left: 10px;
}